.classpath
.project
.settings
target
.DS_Store
*.class
*.pyc
*.tar.gz
*.egg-info
*.whl
*.log
packages/kurator_dwca/data/fims/*
packages/kurator_dwca/workflows/test.yaml
packages/kurator_dwca/workspace/*
packages/kurator_dwca/workflows/workspace/*
workspace_*
